body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.form-container {
    max-width: 30%;
    margin: 30px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
}

form{
    padding: 10px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
select, input, textarea {
    min-width: 100%;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button[type="submit"] {
    display: block;
    padding: 10px 20px;
    background-color: rgb(52, 51, 51);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    margin-bottom: 0;
}
button[type="submit"]:hover {
    background-color: rgb(34, 33, 33);
}
button[type="button"]{
    padding: 10px 20px;
    background-color: rgb(52, 51, 51);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    margin-bottom: 0;
}
.hidden {
    display: none;
}
.titulo {
    font-size: 70px;
    margin: 0; 
    font-family: "Noto Serif Ahom", serif;
    text-align: center;
    color: antiquewhite;
    padding-top: 30px;
}
.error-message {
    color: red;
    font-size: 0.7em;
    margin-top: 5px;
    margin-left: 5px;
}
small {
    font-size: 0.7em;
}
ul {
    list-style-type: none;
    padding-left: 10px;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 3px;
    border-bottom: 1px solid black;
}
p {
    flex-grow: 1;
    margin: 0;
    padding: 5px 0;
}
.btn-per{
    display: block;
    padding: 10px 20px;
    background-color: transparent;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    margin-bottom: 0;
}